language: java

jdk:
  - openjdk8
  - openjdk11

install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip -B -V
script: mvn clean compile -U && mvn test -Punit-tests && mvn test -Pintegration-tests
